body {
	font-family: Lato, Roboto, sans-serif;
	color: #2e323c;
	font: 16px;
	line-height: 28px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: space-between;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #000000;
}

header {
	min-height: 60px;
}

ul {
	list-style-type: none;
}

.menu_nav {
	display: none;
}

.mobile_header_div {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	justify-content: space-between;
}

.marco_line {
	display: block;
	height: 2px;
	width: 50%;
	background-image: linear-gradient(to right, #ff753e, #ffb731);
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
	-webkit-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.marco_hover:hover .marco_line {
	width: 85%;
}

.marco_hover {
	cursor: pointer;
	padding: 10px;
}

.header_title {
	display: none;
}

.nav_svg {
	height: 20px;
	width: 20px;
	padding: 10px;
	cursor: pointer;
}

li {
	cursor: pointer;
	padding: 10px;
	margin-left: -40px;
}

.nav {
	margin-top: -500px;
	-webkit-transition: 0.7s;
	transition: 0.7s;
	overflow: hidden;
}

input:checked ~ .nav {
	margin-top: 0px;

}

.bigdiv {

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	justify-content: space-between;
}

.down_arrow {
	height: 10px;
	width: 10px;
}

.subnav {
	list-style-type: none;
	display: none;
	background-color: #f7f7f7;
}

li:hover .subnav {
	display: block;
}

.section_1 {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	justify-content: space-between;
	background-color: #ffffff;
}

h1 {
	font-size: 2.2em;
	line-height: normal;
	padding-right: 30%;
}

.section1-1 {
	width: 50%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: space-around;
	padding-left: 5px;
	padding-right: 5px;
}

.p1 {
	color: #9c9cad;
}

.a1 {
	display: block;
	margin: 5% 5% 10% 5%;
	font-weight: 600;
	font-size: 15px;
	color: #ffff;
	background-image: linear-gradient(90deg, #ff753e, #ffb731);
	border: 1px solid transparent;
	border-radius: 30px;
	text-align: center;
	width: 90%;
	min-height: 40px;
	max-width: 200px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.a1:hover {
	box-shadow: 2px 2px 2px #ffb731;
	transform: translateY(-2px);
}

.section1-2 {
	width: 50%;
	background-image: url(Images/Section_1.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.section_2 {
	background-color: #f5f6f9;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}

.section2-1 {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	text-align: center
}

.p2 {
	color: #ffa535;
	font-size: 10px;
}

h2 {
	color: #000000
}





.span-mobile {
	display: none;
}

.span-website {
	display: none;
}

.span-branding {
	display: none;
}





footer {
	border: 1px blue solid;
}

section {
	border: 1px red solid;
}

article {
	border: 1px green solid;
}

div {
	border: black 1px solid;
}

header {
	border: orange 1px solid;
}
